<div class="row">
  <h2>Add User</h2>
  <div class="col-md-12">
    <form  (ngSubmit)="addUser()">
      <div class="form-label">
        <label>Username: </label>
        <input type="text" class="form-control" name="username" [(ngModel)]="user.username"/>
      </div>
      <div class="form-label">
        <label>Email: </label>
        <input type="email" class="form-control" name="email" [(ngModel)]="user.email"/>
      </div>
      <div class="form-label">
        <label>Phone: </label>
        <input type="text" class="form-control" name="phone" [(ngModel)]="user.phone"/>
      </div>
      <div class="form-label">
        <label>Address: </label>
        <input type="text" class="form-control" name="address" [(ngModel)]="user.address"/>
      </div>
      <button type="submit" class="btn btn-success">Save</button>
      <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
    </form>
  </div>
</div>
