<div class="row">
  <h2>User Details</h2>
  <div class="col-md-10">
    <div class="card" *ngIf="user">
      <div class="card card-title">
        <b>ID: {{ user.id }} </b>
      </div>
      <div class="card card-body">
        <span><strong>Username:</strong> {{ user.username }}</span>
        <span><strong>Email:</strong> {{ user.email }}</span>
        <span><strong>Phone:</strong> {{ user.phone }}</span>
        <span><strong>Address:</strong> {{ user.address }}</span>
        <button class="btn btn-secondary btn-sm" (click)="goToUserList()">Back</button>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <!-- <button class="btn btn-secondary">Back</button> -->
  </div>
</div>
